/*changes should be automated by 
only editing font-sizes on elements*/

@media (max-width: 900px) {
    .HeaderBox {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: 8.5rem;
        font-size: 0.9rem;
        padding: 0.2rem;
        margin-top: 0.1rem;
        margin-bottom: 0;
    }
    .QuoteBox {
        flex-grow: 0;
        width: 90vw;
        margin:auto;
    }
    form {
        margin:0 auto;
        padding: 0;
        // background-color: red;
        select, input, button {
            margin: 0;
        }
    }
    content {
        width: 100%;
        font-size: 0.8rem;
    }
    .ChangePageBox {
        margin: 0.2em auto;
        width: 20em;
        font-size: 1em;
        button, p {
            width: 6em;
        }
    }
    .Card {
        width: 85vw;
        font-size:0.8em;
        div {
            font-size: 1.4em;
        }
        .DeadSign {
            font-size: 0.8em;
            right: 9vw;
        }
    }   
}
