$color1 : rgb(23, 80, 76);

$colorAccent : rgb(13, 184, 107);
$colorAccentL : rgb(34, 189, 116);
$colorAccentD : rgb(42, 153, 103);

$colorDark : rgb(24, 30, 26);
$colorDarkL : rgb(39, 48, 44);

$colorGreen : rgb(19, 75, 50);
$colorGreengrey : rgb(59, 116, 90);

$colorBluegrey : rgb(75, 104, 99);
$colorBlueL : rgb(13, 231, 148);

$shadowDark : inset rgba(2, 29, 20, 0.842) 2px 2px 8px;