/* SINCE ITS A SMALL APP IV DECIDED TO PUT ALL CSS IN 1 FILE EXCEPT FOR VARS & @MEDIA */
@import './_media';
@import './_vars'; /*scss variables initiated here*/

body {
    // background-color:rgb(19, 19, 19);
}

.App {
    background: $color7;
    background: #{$mz}$bbg ;
    background: #{$wk}$bbg ;
    background: $bbg ;
    
    background-size: stretch; 
    background-repeat: no-repeat;
}

.HeaderBox {
    display: flex;
    height: 6rem;
    margin-bottom: 0.5rem;
    padding: 1rem;
    background: rgb(26, 37, 34);
    background: #{$mz}$hbg ;
    background: #{$wk}$hbg ;
    background: $hbg ;   
}

.QuoteBox {
    flex-grow: 1;
    margin:auto;
    font-weight: 600;
    p {
        margin:auto 0 auto 0.5rem;
        color: $color5;
        &:last-child {
            color:$colorGrey;
        }
    }
}

form { /*filter*/
    align-items: center;
    display: flex;
    margin-right: 10px;
}

select, input, button, .ChangePageBox p {
    padding: 5px;
    height: 35px;
    color: $color4; 
    background-color: $colorDark;
    border-color: $colorDarkL;
    border-radius: 1.5rem;
    border-style: solid;
    box-decoration-break: slice;
}
select {
    border-radius: 0;
    border-style: double;
}
input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: $colorDark; 
    text-align: center;
}
textarea:focus, input:focus, button:focus, select:focus{
    outline: none;
}

button:hover, input:hover, select:hover {
    background-color: $colorDarkP;
    border-color: $color4;
    box-shadow: inset ($color4) 2px 2px 8px;   
}

form button:hover {
    background-color: $color4;
    border-color: $color4;
    color: $colorDark;
}
form button:active {
    background-color: $color4;
    border-color: $colorGreen;
}

.ChangePageBox {
    margin: 1rem auto;
    width: 16rem;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.ChangePageBox button{
    width: 80px;
    margin:auto 0;
    background-color: $colorDark;
}
.ChangePageBox button:active {
    border-color: $colorGreen;
    box-shadow: $shadowDark;
}
.ChangePageBox button:disabled {
    border: none;
    box-shadow: none;
    color: $colorGreen;
}
.ChangePageBox p {
    width: 5rem;
    text-align: center;
    display: inline-block;
    margin: auto 0;
    position: inherit;
    border-color: $colorDark;
}

.CardListBox {
    width: 97%;
    margin: auto;
    padding: auto;
    min-height:84vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CardList {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Card {
    background-color: $colorDarkT;
    color: $colorGrey; 
    width: 400px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 0.5rem; 
    display:flex;
}
.CardInfo {
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.Card img {
    opacity: 100%;
    height: 150px;
    width: 150px;
    border-top-left-radius:0.5rem;
    border-bottom-left-radius: 0.5rem;
    opacity: 1;
}

.Card h3 { //name
    width: 250px;
    margin:0;
    color: $color4;
}
.Card h4, h5 {
    font-weight: 500;
    font-size:1rem;
    color: $colorGrey;
    display:inline-block;
    margin:auto 0;
    font-style:italic;
}

.Card h5 { //origin location
    color: $color2;
    font-size: 0.9rem;
    margin-left:5px;
    margin-top: 1px;
}

.Card p {
    width:250px;
    display:block;
    height:auto;
    padding:0;
    margin:0;
    font-size: 0.9rem;
    text-decoration-line: underline;
}

.CardInfo .Species {
    color: $color5;
    font-size: 1rem;
}

.DeadSign {
    margin: 15px 60px;
    width: 120px;
    height: 120px;
    border-color: $color2;
    background-color: $color2;
    border-radius: 50%;
    border-style:solid;
    border-width: 6px;
    background-image: url(../skull.png);
    background-size: cover;
    position: absolute;
    opacity: 0.1;
}

.ErrorBox {
    width:100%;
    height: 84vh;
}

.FooterBox {
    background-color: $colorDark;
    bottom:0;
    height:auto;
    padding: 1rem;
    margin-top: 1rem;
}

.FooterBox p {
    color: $color1;
    text-align: center;
    padding: 3px;
    margin: 4px auto;
}

.FooterBox p a {
    font-style: italic;
    color: $color7;
    
}
.FooterBox p a:hover {
    color: $color4;
}