/*ALL ON 1 PAGE BCS OF PROJECT SIZE, MIGHT SPLIT UP IN FUTURE
WILL BE REWRITTEN IN SASS */

body {
    background-color:rgb(19, 19, 19);
}

.App {
    background-image: url(../rick_and_morty_by_sawuinhaff_horizontal.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}

.HeaderBox {
    display: flex;
    height: 6rem;
    background-color: rgba(24, 24, 24, 0.95);
    margin-bottom: 0.5rem;
    padding: 1rem;
}

.QuoteBox {
    color:rgb(13, 184, 107); 
    flex-grow: 1;
    margin:auto;
}

.QuoteBox p {
    margin:auto 0 auto 0.5rem;
    
}

form { /*filter*/
    /* max-width: 40rem;
    margin:5px auto; */
    align-items: center;
    color: rgb(34, 189, 116);
    display: flex;
    /* background-color: rgba(241, 0, 0, 0.699); */
    /* border-radius: 2rem; */
}

select, input, button, .ChangePageBox p {
    padding: 8px;
    height: 2.5rem;
    color:rgb(13, 184, 107); 
    background-color: rgba(24, 24, 24);
    border-color: rgba(24, 24, 24);
    border-radius: 1.5rem;
    border-style: solid;
    box-decoration-break: slice;
}
select {
    border-radius: 0;
    border-style: double;
}
input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-style: hidden;
    border-color: rgba(13, 184, 107);
    border-left-color: rgba(0, 31, 16);
    background-color: rgb(13, 184, 107); 
    color:rgba(0,31,16);
}
textarea:focus, input:focus, button:focus, select:focus{
    outline: none;
}



button:hover, input:hover, select:hover {
    background-color: rgb(36, 38, 36);
    border-color: rgb(13, 184, 107);
    box-shadow: inset rgba(13, 184, 107, 0.733) 2px 2px 8px;
    
}

form button:hover {
    background-color:rgb(13, 184, 107);
    border-color:rgb(26, 194, 118);
    box-shadow: inset rgba(27, 248, 148, 0.733) 2px 2px 8px;
}
form button:active {
    background-color:rgb(18, 173, 104);
    border-color:rgb(16, 65, 43);
    box-shadow: inset rgba(2, 29, 20, 0.842) 2px 2px 8px;
}

.ChangePageBox {
    margin: 1rem auto;
    width: 16rem;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.ChangePageBox button{
    width: 80px;
    margin:auto 0;
    background-color:rgba(24, 24, 24,0.9);
    
}
.ChangePageBox button:active {
    border-color:rgb(16, 65, 43);
    box-shadow: inset rgba(2, 29, 20, 0.842) 2px 2px 8px;
}
.ChangePageBox button:disabled {
    border: none;
    box-shadow: none;
    color:rgb(16, 65, 43);
}
.ChangePageBox p {
    width: 5rem;
    text-align: center;
    display: inline-block;
    margin: auto 0;
    position: inherit;
}

.CardListBox {
    width: 97%;
    margin: 0 auto;
    padding: 0 auto;
    color: rgb(34, 189, 116);
    min-height:80vh;  
}

.CardList {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Card {
    background-color:rgba(22, 22, 22, 0.85);
    color:rgb(13, 184, 107); 
    width: auto;
    max-width: 180px;
    height: auto;
    margin: 3px;
    padding: 8px;
    border-radius: 0.5rem;
    flex-grow: 1;
    /* max-width: 300px;
    min-width: 60px; */
    /* should make width fixed amount at small or big screensizes*/   
}

.Card img {
    width: 6rem;
    height: 6rem;
    display: block;
    margin: 0 auto;
}

.Card h3 {
    margin-bottom: 0;
    height: auto;
    min-height:3.85rem;
}
.Card h4 {
    margin: 0;
}

.Card p {
    margin: 0 auto;
    padding: 0 auto;
    display:block;
}


.Gender {
    float: left;
}

.DeadSign {
    float: right;
    width: 1.5rem;
    height: 1.5rem;
    background-color:rgba(13, 184, 107);
    border-radius: 50%;
    border-style:solid;
    border-width: 2px;
    background-image: url(../skull.png);
    background-size: cover;
}

.ErrorBox {
    width:100%;
    height: 30rem;
}

.FooterBox {
    background-color:rgba(24, 24, 24, 0.95);
    /* padding: 10px 0 10px 0;
    margin: 10px auto 0 auto; */
    bottom:0;
    height:auto;
    padding: 1rem;
    margin-top: 1rem;
}

.FooterBox p {
    color:rgb(8, 134, 77);
    text-align: center;
    padding: 3px;
    margin: 4px auto;
}

.FooterBox p span {
    font-style: italic; 
    color:rgb(13, 184, 107);
}

@media (max-width:1250px){
    .HeaderBox {
        height: 7.5rem;
    }
    .ChangePageBox {
        margin:0 auto;
    }
}

@media (max-width:1000px){
    .HeaderBox {
        height: 9rem;
    }
    
}

@media (max-width:900px){  
    .App {
        background-image: url(../rick_and_morty_by_sawuinhaff_vertical.png);
        background-size: auto;
        background-position:top;
        background-repeat: repeat-y;
    } 
    .HeaderBox {
        flex-wrap: wrap;
        height: 11em;
    }
    .CardListBox{
        width: 96%;
    }
    form {
        padding-top:0;
        margin: auto;
        margin-bottom:0.5rem;
    }
    
} 

@media (max-width: 600px) {
    .HeaderBox {
        height: 9em;
        padding:0.5rem;
    }
    .QuoteBox {
        margin:0;
    }
    .QuoteBox p {
        font-size:1rem;
    }
    .CardList {
        margin: 0.3rem auto;
    }
    .Card {
        max-width: 7rem; 
        padding: 0.4rem;
    }
    .Card img {
        height:3.5rem;
        width:3.5rem;
    }
    .Card h3, .Card h4,.Card p {
        font-size: 0.8rem;
        margin: 0;
    }
    .Card h3 {
        height:auto;
        min-height:2rem;
    }
    .DeadSign {
        width:1rem;
        height:1rem;
    }
    form {
        margin:0 auto;
    }
    select, input, button, .ChangePageBox p {
        padding: 2px;
        height: 1.9rem;
    }
    select {
        width:3rem;
    }
    input {
        width: 8rem;
    }
}
