/* SINCE ITS A SMALL APP IV DECIDED TO PUT ALL CSS IN 1 FILE EXCEPT FOR VARS & @MEDIA */
@import './_media';
@import './_vars'; /*scss vars & mixins initiated here*/

.App {
    background-color: $color6; //temp failsafe
    @include browser-comp(background, $appBG);
}

.HeaderBox {
    background-color: $colorDark; //temp failsafe
    @include browser-comp(background, $headerBG);
    display: flex;
    height: 6rem;
    padding: 1rem;
}

.QuoteBox {
    flex-grow: 1;
    margin:auto;
    font-weight: 600;

    p {
        margin:auto 0;
        color: $color5;
        &:last-child {
            color:$colorGrey;
        }
    }
}

form { /*filter*/
    align-items: center;
    display: flex;

    button {
        @include default-ui;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $colorDark; 
        text-align: center;
        &:hover {
            background-color: $color4;
            border-color: $color4;
            color: $colorDark;
        }
        &:active {
            background-color: $color4;
            border-color: $colorGreen;
        }
    }
}

select {
    @include default-ui;
    border-radius: 0;  
}

input {
    @include default-ui;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.ChangePageBox {
    margin: 1rem auto;
    width: 16rem;
    display:flex;
    justify-content: space-between;
    position: relative;

    button {
        @include default-ui;
        width: 4.5rem;
        margin:auto 0;
        background-color: $colorDark;
        &:active {
            border-color: $colorGreen;
            box-shadow: $shadowDark;
        }
        &:disabled {
            border: none;
            box-shadow: none;
            color: $colorGreen;
        }
    }

    p {
        @include default-ui;
        width: 5rem;
        text-align: center;
        display: inline-block;
        margin: auto 0;
        position: inherit;
        &:hover {
            box-shadow:none;
            border-color: $colorDark;
            background-color: $colorDark;
        }
    }
}

.CardListBox {
    width: 97%;
    margin: auto;
    padding: auto;
    min-height:84vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CardList {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Card {
    background-color: $colorDarkT;
    color: $colorGrey; 
    width: 22em;
    height: 7.5em;
    margin: 0.4em;
    border-radius: 0.5em; 
    display:flex;

    img {
        opacity: 100%;
        height: 7.5em;
        width: 7.5em;
        border-top-left-radius:0.5em;
        border-bottom-left-radius: 0.5em;
        opacity: 1; //some browser will inherit opacity of .DeadSign
    }
}

.CardInfo {
    width: 22em - 7.5em; //card-img
    padding: 0.4em;
    display: flex;
    flex-wrap: wrap;
}

.Card h3 { //name
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: $color4;
}

.Card span {
    font-weight: 500;
    font-size: 0.9em;
    color: $colorGrey;
    display: inline-block;
    font-style: italic;
}

.Card h4 {
   color: $colorGreen;
   margin: 0;
   padding: 0;
}

.Card p {
    width:250px;
    display:block;
    height:auto;
    padding:0;
    margin-bottom:0;
    margin-top: auto;
    font-size: 0.8em;
    text-decoration-line: underline;

    span {
        color: $color2;
        font-size: 1.1em;
        margin-left:5px;
        margin-top: 1px;
    }
}

.DeadSign {
    margin: 0.4em 4em;
    width: 6em;
    height: 6em;
    border-color: $color2;
    background-color: $color2;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.3em;
    background-image: url(../skull.png);
    background-size: cover;
    position: absolute;
    opacity: 0.1;
}

.ErrorBox {
    @extend .CardListBox;
}

.FooterBox {
    background-color: $colorDark;
    bottom: 0;
    height: auto;
    padding: 1rem;
    margin-top: 1rem;
}

.FooterBox p {
    color: $color3;
    text-align: center;
    padding: 0.2em;
    margin: 0.3em auto;
    a {
        font-style: italic;
        color: $color2;
        &:hover {
            color: $color4;
        }
    }
}
