/*ALL ON 1 PAGE BCS OF PROJECT SIZE, WILL SPLIT UP IN FUTURE
WILL BE REWRITTEN IN SASS */

body {
    background-color:rgb(19, 19, 19);

}

.App {
    /* background-image: url(../rick_and_morty_by_sawuinhaff_horizontal.png);
   
    background-position: center; */
    background: rgb(33,73,61); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(33,73,61,1) 0%, rgba(36,50,60,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(33,73,61,1) 0%,rgba(36,50,60,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at top, rgba(28, 155, 102, 0.349) 0%,rgb(29, 48, 48) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */    background-size: stretch; 
    background-repeat: no-repeat;
}

.HeaderBox {
    display: flex;
    height: 6rem;
    background-color: rgba(144, 226, 199, 0.164);
    margin-bottom: 0.5rem;
    padding: 1rem;
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(170deg, rgba(5, 19, 18, 0.65) 0%,rgba(0, 0, 0, 0) 70%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.QuoteBox {
    color:rgb(13, 184, 107); 
    /* color:rgb(13, 184, 107);*/
    flex-grow: 1;
    margin:auto;
    font-weight: 600;
}

.QuoteBox p {
    margin:auto 0 auto 0.5rem;  
}

form { /*filter*/
    /* max-width: 40rem;
    margin:5px auto; */
    align-items: center;
    color: rgb(34, 189, 116);
    display: flex;
    margin-right: 10px;
    /* background-color: rgba(241, 0, 0, 0.699); */
    /* border-radius: 2rem; */
}

select, input, button, .ChangePageBox p {
    padding: 5px;
    height: 35px;
    color:rgb(13, 184, 107); 
    background-color: rgb(24, 30, 26);
    border-color: rgb(39, 48, 44);
    border-radius: 1.5rem;
    border-style: solid;
    box-decoration-break: slice;
}
select {
    border-radius: 0;
    border-style: double;
}
input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}
form button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    /* border-color: rgba(13, 184, 107); */
    background-color: rgb(24, 30, 26); 
    color:rgb(13, 184, 107);
    text-align: center;

    /* border-left-style: hidden; */
    /* border-left-color: rgba(0, 31, 16); */
}
textarea:focus, input:focus, button:focus, select:focus{
    outline: none;
}

button:hover, input:hover, select:hover {
    background-color: rgb(36, 38, 36);
    border-color: rgb(13, 184, 107);
    box-shadow: inset rgba(13, 184, 107, 0.733) 2px 2px 8px;   
}

form button:hover {
    background-color:rgb(13, 184, 107);
    border-color:rgb(26, 194, 118);
    /* box-shadow: inset rgba(27, 248, 148, 0.733) 2px 2px 8px; */
    color:rgb(24, 30, 26);
}
form button:active {
    background-color:rgb(18, 173, 104);
    border-color:rgb(16, 65, 43);
    box-shadow: inset rgba(2, 29, 20, 0.842) 2px 2px 8px;
}

.ChangePageBox {
    margin: 1rem auto;
    width: 16rem;
    display:flex;
    justify-content: space-between;
    position: relative;
}
.ChangePageBox button{
    width: 80px;
    margin:auto 0;
    background-color:rgba(24, 24, 24,0.9);
}
.ChangePageBox button:active {
    border-color:rgb(16, 65, 43);
    box-shadow: inset rgba(2, 29, 20, 0.842) 2px 2px 8px;
}
.ChangePageBox button:disabled {
    border: none;
    box-shadow: none;
    color:rgb(16, 65, 43);
}
.ChangePageBox p {
    width: 5rem;
    text-align: center;
    display: inline-block;
    margin: auto 0;
    position: inherit;
    border-color: rgb(24, 30, 26);
}

.CardListBox { /*!this box is parent of form*/
    width: 97%;
    margin: auto;
    padding: auto;
    min-height:85vh;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.CardList {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.Card {
    background-color:rgba(22, 22, 22, 0.719);
    color:rgb(75, 104, 99); 
    width: 400px;
    height: 150px;
    margin: 0.5rem;
    border-radius: 0.5rem; 
    display:flex;  
    /* should make width fixed amount at small or big screensizes*/   
}
.CardInfo {
    width: 250px;
    padding-left: 5px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.Card img {
    opacity: 100%;
    height: 150px;
    border-top-left-radius:0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.Card h3 {
    width: 250px;
    margin:0;
    color:rgb(131, 216, 176);
}
.Card h4, h5 {
    font-weight: 500;
    font-size:1rem;
    color:rgb(59, 116, 90);
    display:inline-block;
    margin:auto 0;
    font-style:italic;
}

.Card h5 {
    color:rgb(27, 189, 135);
    font-size: 0.9rem;
    margin-left:5px;
    margin-top: 1px;
}

.Card p {
    width:250px;
    display:block;
    height:auto;
    padding:0;
    margin:0;
    font-size: 0.9rem;
    text-decoration-line: underline;
}

.CardInfo .Gender {
    color:rgb(36, 196, 143);
    font-size: 1rem;
}

.DeadSign {
    margin: 15px 60px;;
    width: 120px;
    height: 120px;
    background-color:rgba(13, 184, 107);
    border-color:rgba(13, 184, 107);
    border-radius: 50%;
    border-style:solid;
    border-width: 6px;
    background-image: url(../skull.png);
    background-size: cover;
    position: absolute;
    opacity: 5%;
}

.ErrorBox {
    width:100%;
    height: 30rem;
}

.FooterBox {
    background-color:rgba(22, 22, 22, 0.781);
    /* padding: 10px 0 10px 0;
    margin: 10px auto 0 auto; */
    bottom:0;
    height:auto;
    padding: 1rem;
    margin-top: 1rem;
}

.FooterBox p {
    color:rgb(8, 134, 77);
    text-align: center;
    padding: 3px;
    margin: 4px auto;
}

.FooterBox p a {
    font-style: italic;
    color:rgb(20, 133, 86);
    
}
.FooterBox p a:hover {
    color:rgb(13, 184, 107);
}

/* @media (min-width:1920px) {
    .Card img {
     
    }
    .Card {
        
    }
}

@media (max-width:1920px) {
    .Card img {
        
    }
    .Card {
        
    }
}

@media (max-width:1250px){
    .HeaderBox {
        height: 7.5rem;
    }
    .Card img {
        
    }
}

@media (max-width:1000px){
    .HeaderBox {
        height: 9rem;
    }
    .Card img {
        
    }
}

@media (max-width:900px){  
    .App {
        
    } 
    .HeaderBox {
        flex-wrap: wrap;
        height: 11em;
    }
    .CardListBox{
        width: 96%;
    }
    form {
        padding-top:0;
        margin: auto;
        margin-bottom:0.5rem;
    }
    .Card img {
        height:5rem;
        width:5rem;
    }
    .ChangePageBox {
        margin:0.4rem auto;
    }
} 

@media (max-width: 600px) {
    .HeaderBox {
        height: 8.5rem;
        padding:0.1rem;
    }
    .QuoteBox p {
        font-size:1rem;
    }
    .CardListBox {
        width:100%;
    }
    .CardList {
        margin: 0.3rem auto;
    }
    .Card { 
        height: 3.5rem;
        width: 10.5rem;
        margin: 0.1rem;
    }
    .Card img {
        height:3.5rem;
        width:3.5rem;
    }
    .Card h3, .Card h4,.Card p {
        font-size: 0.5rem;
        margin: 0.1rem;
    }
    .Card h3 {
        font-size: 0.7rem;
        height:auto;
        min-height:2rem;
    }
    .DeadSign {
        width:1rem;
        height:1rem;
    }
    form {
        margin:0 auto;
        margin-bottom:0;
    }
    select, input, button, .ChangePageBox p {
        padding: 0.2rem;
        height: 1.9rem;
    }
    select {
        width:4rem;
    }
    input {
        width: 8rem;
    }
    .ChangePageBox {
        margin:0rem auto;
    }
} */
